<html>
    <head>
        <title>info</title>
    </head>
    <body>
        <h2>info</h>
        {% for student in students%}
        {{student.f_name}}
        {{student.l_name}}
        <br>
        {% endfor %}
    </body>
</html>